<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> AdonisJS Blog </title>
</head>
<body>
  <section>

    <!-- HEADER -->
    <header>
      <div>
        <a href="/posts">
          AdonisJS Blog
        </a>
      </div>

      <navbar>
        <a href=""> Home </a>
        <a href=""> Archives </a>
      </navbar>
    </header>

  </section>

  <section>
    <!-- ANY TEMPLATE CAN INJECT CONTENT HERE 👇 -->
    @section('main')
    @endsection
  </section>

</body>
</html>
